<html>
    <head>
        <title>COVID-19 TESTING</title>
    </head>

    <body>
        <h1>อ่านเอกซ์เรย์ทรวงอกสำหรับคัดกรองโควิด-19</h1>
        <h2>ประเภทไฟล์: png, jpg, jpeg</h2><br>
        <a href="{{url_for('cxrlist')}}">ค้นหาข้อมูล </a>
        <p>-----------------------------------------------------------------</p>

        <form method="POST" action="/save_data" enctype="multipart/form-data" onsubmit="alfunc()">

            <label>เลือกไฟล์ X Ray</label>
            <input id="image-selector" type="file"  name="img"/><br>

            <label for="text" >ชื่อ:</label>
            <input type="text" name="paname" id="paname" required>
            <label for="Surname">นามสกุล:</label>
            <input type="text" name="surname" id="surname" required><br>
            เพศ: <input type="radio" name="sex" value="M" id="M"><label for="M">ชาย</label>
            <input type="radio" name="sex" value="F" id="F"><label for="F">หญิง</label><br>
            พ.ศ. เกิด: <input type="number" id="YOB" name="YOB" minlength="4" maxlength="4" required><br><br>
            
            ผล Antigen Test Kit: <input type="radio" name="atk" value="Negative" id="atk" required><label for="Negative">Negative</label>
            <input type="radio" name="atk" value="Positive" id="atk" required><label for="POsitive">Positive</label>
            <input type="radio" name="atk" value="Not test" id="atk" required><label for="Not test">Not test</label>
            วันที่ทำ LAB: <input type="date" name="atk_date" name="atk_date" required><br><br>
            

            ผล RT-PCR: <input type="radio" name="pcr" value="Non Detected" required><label for="Non Detected">Non Detected</label>
            <input type="radio" name="pcr" value="Detected" required><label for="Detected">Detected</label>
            <input type="radio" name="pcr" value="Not test" required><label for="Not test">Not test</label>
            วันที่ทำ LAB: <input type="date" name="pcr_date" id="pcr_date" required><br><br>
            
            
            <!-- <label>เลือกไฟล์ X Ray</label>
            <input id="image-selector" type="file"  name="img"/> -->

            <input type="submit" value="Save" id="save_data" disabled=true><br>
            
            <p>คาดการณ์: <span id="result">...</span></p>
            <p>โอกาส(%): <span id="probability">...</span></p>

        </form>

        <!-- <label>เลือกไฟล์ X Ray</label> -->
        <!-- <input id="image-selector" type="file"/> -->
        <button id="predict-button" disabled=True>Predict</button><br>
        <!-- <p>คาดการณ์: <span id="result">...</span></p>
        <p>โอกาส(%): <span id="probability">...</span></p> -->
        <img id="selected-image" width="300" src=""/>

        <p>AI for R/O COVID-19 PNEUMONIA By Dr.Somkiat Aroonpakmongkol, Health Center 5 Ratchaburi. </p>

    </body>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    let base64Image;
    $("#image-selector").change(function() {


        let reader = new FileReader();
        reader.onload = function(e) {
            let dataURL = reader.result;
            $('#selected-image').attr("src", dataURL);
            base64Image = dataURL.replace(/^data:image\/(png|jpg|jpeg);base64,/,"");
            console.log(base64Image);
        }
        reader.readAsDataURL($("#image-selector")[0].files[0]);
        $("#result").text("กดปุ่ม predict");
        $("#probability").text("");

        document.getElementById('predict-button').disabled=false
        
    });

    $("#predict-button").click(function() {
        let message = {
            image: base64Image
        }
        console.log(message);
        $.post("https://"+ip+"/predict", JSON.stringify(message),function(response){
            $("#result").text(response.prediction.result);
            $("#probability").text(response.prediction.accuracy);
            console.log(response);
        });

        document.getElementById('save_data').disabled = false;
        
        $(document).ready(function(){
            $('#save_date').val(new Date().toDateInputValue());
        });

    })

    let ip = location.host;
    // alert(ip+"/predict")

    function alfunc() {
        alert("บันทึกข้อมูลแล้ว")
    }

</script>

</html>